body {
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  padding: 0;
  background: #F2F4F5;
  color:#1e1e1f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
